body {
    background-color: orangered;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    overflow-x:hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    width: 100%;
    height: 50px;
    text-align: center;
    top: 0;
    left: 0;
    max-height: 100px;
    border: 1px solid black;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: black;
    position: fixed;
    z-index: 10;
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
}

.btn-navbar {
    text-decoration: none;
    font-family: Calibri;
    font-weight: 600;
    font-size: 24px;
    border: 15px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: orange;
    cursor: pointer;
    border-color: black;
    background-color: transparent;
    border-width: 3px;
}

.foreground {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    place-items: center;
    padding: 12rem 2rem 2rem;
    max-width: 100%;
    box-sizing: border-box;
}

@media (min-width: 435px) and (max-width: 558px) {
    .foreground {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        padding: 7rem 2rem 2rem;
        width: 100%;
        height: 100%;
        gap: 1rem;
    }

    .videos, .soundtracks, .art, .website, .games, .montages {
        margin-bottom: 3rem;
    }

}


@media (min-width: 267px) and (max-width:435px) {
    .foreground {
        display: grid;
        grid-template-columns: 1fr; 
        padding: 7rem 1rem 1rem;
        width: 100%;
        height: 100%;
        gap: 1rem;
    }
}

@media (max-width: 267px) {
    .foreground {
        display: grid;
        grid-template-columns: 1fr; 
        width: 100%;
        height: 100%;
        gap: 1rem;
        padding: 5rem  0px 1rem 0px;
    }
}

.videos, .soundtracks, .art, .website, .games, .montages {
    display: flex;
    width:100%;
    max-width:none;
    height:auto;
    padding: 5px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.videos { 
    background-image: url("../photos_freelance/JOYEUX\ NOEL!!!!.jpg");
}

.videos:hover, .logos:hover, .art:hover , .soundtracks:hover, .montages:hover, .website:hover, .games:hover {
    outline: 3px solid black;
    outline-offset: 6px;
}

.text {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(16px, 4vw, 30px);
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.art {
    background-image: url("../photos_freelance/NewPFP1.png");
}

.soundtracks {
    background-image: url("../photos_freelance/black-sound-waves-equalizer-isolated-600nw-2181742441.webp");
}

.montages {
    background-image: url("../photos_freelance/3D_screenshot_1.png");
}

.montages .text, .soundtracks .text {
    font-size: 25px;
}

.website {
    background-image: url("../photos_freelance/website_screenshot_1.png");
}

.games {
    background-image: url("../photos_freelance/image.png");
}
